[Desktop Entry]
Version=1.01.20230116
Encoding=UTF-8
Name=md5-console
Comment=A simple tool for calculating MD5.
Exec=md5-console.md5-gtk
Terminal=false
Type=Application
Categories=Utility
Icon=${SNAP}/meta/gui/md5-console.png
